label {
    margin-top: 0 !important;
}

.textField {
    margin-top: 7px!important;
    /* margin-right: 3px!important; */
}
.ChannelColorIcn{
     color: #959595;
     cursor: pointer;
     font-size: 20px;
}
.ShowConfiguratorWith{
    width: 99% !important;
}
.ImgEditHeaderStyle{
    width: 35px; height: 25px; border: 0px ;
}
.EditHeaderAlingment{
    /* background-color: #F0F0F0; */
    display: inline;
    border-radius: 2px;
    /* opacity: 0.2; */
    margin: 0.1vw;
    color: white !important;
    background: #505066 0% 0% no-repeat padding-box;
}

.configuratorTextarea {
    border: none;
    /* background-color:#E8EAEC; */
    resize: none !important;
    
    /* height: 80px; */
    background: #505066 0% 0% no-repeat padding-box;
    height: 8vh;
    text-align: left;
    width: 13vw;
    margin-left:1.5vw;
}
.LogoChnnel{
    margin-top: 10px;
}

.inputFileInUploadDiv {
    size: 300px;
}

.inputfilelogin {
    width: 1px;
    height:  1px;
    opacity: 1;
     overflow:hidden;
    position: absolute;
    z-index: -1;
}

/* PICKER */
/* element.style {
    width: 200px;
    background: #0000(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.2);
     box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px; 
    border-radius: 4px;
    position: relative;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
} */


.inputfile {
    width:  0.1px;
    height: 0.1px;
    opacity: 0;
     overflow: hidden; 
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    cursor: pointer;
}

.divOnHover {
    position: relative;
    width: 100%;
    height: auto;
    margin: 1%;
    top:5px;  
    background-color:#E8EAEC;
 }

.divOnHover .divUploadImage {
    display: block;
}

/* .divUploadImage {
    height: auto;
    width: 100%;
    margin-top: 15px;
} */

.iconDiv {
    width: 13vw;
    margin-top: 9vh;
    height: 4vh;
    background:  0% 0% no-repeat padding-box;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    /* width: 100%; */
    color: #cccccc;
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* opacity: 0; */
    padding: 1vw
}

.iconDiv:hover {
    opacity: 1;
}


.iconCloudUpload {
    position: absolute;
    /* bottom: 7px;
    left: 7px; */
}
/* PICKER */


.github-picker{
    width: 13vw;
    background: #0000 !important;
    border: #0000 !important;
    box-shadow: #0000 0px 0px 0px !important;
    border-radius: 4px;
    position: unset !important;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1vw;
} 
.github-picker>span{
    margin: 3px;
}
/* PICKER */
.GithubPicker{
    border: 3px solid #fff;
    padding: 3px;
}

/* .circle{
    background-color:#959595;
    border-radius: 50%;
     
}
.square{
    background-color:#959595 ;
     width: 7.961783439490446%;
    height: 7.961783439490446%;
    padding: 3.184713375796178%;
 }
input[type="color" i]{
border:solid 1px 1px black !important;
width: 14.3312101910828%;
height: 14.3312101910828%;
}
.buttonStyle{
    background-color: #F0F0F0 ;
    opacity: 1;
    width: 14.3312101910828%;
    height: 14.3312101910828%;
    max-width: 45px;
    max-height: 45px;
 
} */
.MuiSwitch-colorSecondary.Mui-checked+.MuiSwitch-track {
    background-color: #e1caf3 !important;
}

.MuiSwitch-thumb {
    background-color: #4b0083 !important;
    width: 10px !important;
    height: 10px !important;
    margin-top: 5px;
    margin-left: 5px;
}

.MuiTypography-body1 {

    font-size: 0.8rem !important;
}


.MuiFormLabel-root {
    /* font-size: small !important; */
    /* padding-left: 20px; */
    color: white !important;
    font-size: 0.9rem;
}

.MuiFormGroup-root {
    direction: rtl;
    display: grid !important;
    /* padding-left: 5px; */
}

.MuiTypography-root {
    margin-right: 0px !important;
}

.accordion>.card>.card-header {

    background-color: #0A102E;
    color: #FFFFFF;
    text-align: left;
/* font: normal normal bold 18px/24px Nunito Sans; */  
}
 .accordion>.card>.card-header:hover{
   
    background: transparent linear-gradient( 
        115deg , #FFFFFF -200%, #006C8000 100%) 0% 18% no-repeat padding-box;
    color: white !important;
 }

.accordion>.card>.card-header:hover.cardName{
    opacity: 0; 
}


.MuiFormControl-root {
    margin: 1rem !important;
}

.IconColor{
    color: white;
}

.BoldIconColor{
   color: #9653FF;
}
.github-picker>span{
    margin:3px;
    /* width: 10%;
   height: 10%; */
}
.github-picker>span>div{
    width: 16px !important;
    height: 16px !important;
}
.SelectChanel{
    height: 4vh;
    /* margin-left: 9vw; */
    margin-left: 1.5vw;
    width: 3vw;
    /* background-color: #F0F0F0;  */
    background: #505066 0% 0% no-repeat padding-box;
    color:white;
}
.ChnnelSettingsColor{
    background-color: #F0F0F0;
}
.card {
    width: 100% !important;
}
.ChannelColorwidth{
    width: 13vw !important;
   
}
.MuiFormControlLabel-root {
    /* margin-left: 0px !important; */
    margin-right: 0px !important;
}
.FormControlW{
    width: 100%;
    margin-left: 1vw;
    color:white;
}
.marginTop{
    margin-top: -12px;
}
.MuiFormControl-root{
    margin-left: 0px !important;
}
Form.Label{
    font:normal;
}
.inputLinkIcon{
    background: #505066 0% 0% no-repeat padding-box;
/* border-radius: 2px; */
opacity: 0.30;
display: inline-block;
background: #505066 0% 0% no-repeat padding-box;
height: 5vh;
    width: 30vh;
    /* display: flex; */
    margin: auto;
   color: white;

}
.iconFooter{
    display:flex;
    /* margin-left: 1vh; */
    
}
.icon{
    margin-top: 1vh;
    margin-left: 2vw;
    float: right;
    /* width: -webkit-fill-available; */
}
/* .iconName{
    margin-right: 0vw;
} */
#firstIcon{
    margin-left: 1.5vw;
    margin-right: 3vw;
}
.MuiTypography-body1 {
    /* position: absolute;
    margin-right: 9vw;
    font-size: 0.8rem !important; */
}
#firstLabel{
    z-index: 11;
    position: absolute;
    margin-right: 8vw;
}
.colorSelected{
   
    border: 2px solid #FFFFFF;
    opacity: 1;
}
.iii{
    margin: auto;
    width: 90%;
}
.warpDivalignment{
display: flex;
margin-left: 7vw;
margin-top: -4vh !important;
}
.one{
    /* display: inline; */
    margin-left: 2vw;
}
.AlignmentSpan{
    font-size: 85%;
    margin-left: -65%;
}

.SpanSettings{
    font-size: 85%;
    margin-left: 1.5vw;
}
.divUploadImage{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 0.46;
    width: 13vw;
    height: 16vh;
    margin-left: 1.5vw;
}

.showinpageRow{
font-size: smaller;
    margin-left: 0vw;
    margin-bottom: 1vh;
}
.titleSettings{
    margin-left: 1.5vw;
    font-size: 0.9rem;
}
.labelToggle{
    margin-left: 1.5vw !important;
    font-size: 0.9rem !important;
}
.editSubscribtionFileds{
    margin-left: 1.5vw !important;
    font-size: 0.9rem !important;
}