body{
    background-color:#e8eaec !important;
}
:root {
    /* --main-color:#e9a411; */
    --button-color:#53EEFF;
    --image-width:35vh;
    --font-size-title:3vh;
}
.detailsContainer{
    background-color: white;
    width: 97vw;
    margin-top: 1%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: 1.5%;
}

.eventDetailsTitle{
    height:60vh;
  padding:0;
  position: absolute;
}
.eventTitle{
position:absolute;
/* top:12%; */
margin-top:8%;
left:1%;
font-size:15vh;
font-size: var(--font-size-title);
width:70%;
height:10vh;
text-align: left;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-left:10%;

}
.eventDetails{
font-size: 3vw;
/* font-size: 5vh; */
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.eventDetailsDescription{
    top: 909px;
left: 192px;
width: 1014px;
height: 657px;
color: var(--unnamed-color-0a102e);
text-align: left;
letter-spacing: NaNpx;
font-size: 1.5vw;
color: #0A102E;
text-transform: capitalize;
opacity: 1;
  width:95%;
  height:100%;
}
.eventDetailsAboutTitle{
text-align: left;
/* font-size: 4vh; */
font-size: 3vw;
letter-spacing: 0px;
color: #0A102E;
text-transform: capitalize;
opacity: 1;
padding: 0%;
}
.eventDetailsSide{
    border-left:  1px solid #707070;
    padding-left:3%;
    padding-right:5%; 
text-align: left;
}
.at{
    padding-left:10%; 

}                
.aboutD{
    border-right:  1px solid #707070 !important; 
    width:60vw;
    height:50vh
}
.time{
    width:30vw !important;
    height:50vh !important
}
.time{
    text-align: left;
    font-size: 2.5vh;
    letter-spacing: 0px;
    color: #0A102E;
    text-transform: uppercase;
    opacity: 1;
}
.timeText{
    font-size: 2.5vh;
}
.priceTextDetails{
    padding: 5%;
    text-align: left;
    letter-spacing: 0px;
    color: var(--main-color);
    opacity: 1;
    font-size: 3vh
}
.timeTextD{
    padding-left: 5%;
}
.ticketsButton{
    width: 40%;
    height: 7vh;
/* background:  0% 0% no-repeat padding-box; */
background-color: var(--button-color);
    font: normal normal medium 22px/27px Roboto;
    font-size:3.5vh;
    letter-spacing: 2.2px;
   color: var(--main-color);
   text-transform: uppercase;
   opacity: 1;
   margin-top: 2%;
}

.ticketsButton:hover{
    letter-spacing: 4.4px;
}
.at{
    height:100%;
}
.edh{
width: 3vw;
    height: 3vh;
}
.eds{
    
    width: 3vw;
    height: 3vh;
}
.bi-heart:hover,.bi-share:hover{
    color:darkgray;
    cursor: pointer;
}
.moreEvents{
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
}
.more{
    font-size:3vw;
}
svg{
height:4vh;
width:4vw;
}
.picTitle{
    position: absolute;
    right: 7%;
    width:var(--image-width);
    padding: 0;
    margin-top:6%;
}

@media only screen and (min-width:900px) and (max-width:1000px){
    .eds,.edh{
        width:3vw !important;
        height: 3vh !important;
    }
    .time,.timeText{
        font-size:2vh !important;
    }
    .eventTitle{
        font-size:calc(var(--font-size-title)-0.5vh) !important;
    }
    
}
@media only screen and (max-width:900px){
    .eds,.edh{
        width:2vw !important;
        height: 2vh !important;
    }
    .time,.timeText{
        font-size:1.5vh !important;
    }
    .eventTitle{
        font-size:calc(var(--font-size-title)-1vh) !important;
    }
}
