.adminEventTitle{
    width:83.3vw;
    float:right;
}
.adminEvnetsUnderFilter{
    width:83.3vw;
    float:right;
}
.adminEventTitletitleH1{
    word-wrap: break-word;
    border: none;
    word-wrap: break-word;
    text-align: var(--align-text);
    font: normal normal bold 3vw/7vh Roboto;
    letter-spacing: 0px;
    /* color: #FFFFFF; */
    opacity: 1;
    z-index: 4!important;
    /* margin-top: 10vh; */
    /* line-height: 12vh; */
    background: transparent;
    margin-left: 4vw;
    margin-top: 3vh;
    
}
.adminImgOrVieo{
    padding: inherit;
    position: absolute;
    box-shadow: 0px 3px 50px #00000087;
    opacity: 1;
    z-index: 2!important;
    width: 32%;
    height: 51%;
    margin-left: 49vw!important;
    margin-top: 11vh!important;
}
.adminEventTitletitldescription{
    border: none;
    word-wrap: break-word;
    text-align: var(--align-text);
    font: normal normal bold 2vw/5vh Roboto;
    letter-spacing: 0px;
    /* color: #FFFFFF; */
    opacity: 1;
    z-index: 4!important;
    /* margin-top: 10vh; */
    /* line-height: 12vh; */
    background: transparent;
    margin-left: 4vw;
    margin-top: -1vh;

}
.adminSubscribe{
    /* cursor: pointer; */
    /* margin-top: 5vh; */
    /* height: 6vh; */
    /* width: 10vw; */
    background-color: var(--Button-color);
    opacity: 100%;
    /* font-size: 3vh;
    font-size: 3vh,6vw; */
    /* margin-right: 65vw!important; */
    /* text-align: left; */
    font: normal normal medium 3vw/4vh Roboto;
    /* letter-spacing: 4.4px; */
    /* color: #4B1A98; */
    text-transform: uppercase;
    opacity: 1;
}