body {
    background-color: rgb(232, 234, 236);
}
.adminEventTitle{
    width: 81vw;
    float: right;
    margin-top: 2vh;
    margin-right: 1.1vw;
    margin-left: 1.5vw;
    background-color: white;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
.adminEvnetsUnderFilter{
    width:81vw;
    float:right;
    margin-right: 1.1vw;
    margin-left: 1.5vw;
    background-color: white;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;


}
.adminImgOrVieo{
    padding: inherit;
    position: absolute;
    box-shadow: 0px 3px 50px #00000087;
    opacity: 1;
    z-index: 2!important;
    width: var(--image-width)!important;
    height: 45vh;
    margin-left: 49vw!important;
    margin-top: 11vh!important;
}