body {
    background-color: rgb(232, 234, 236);
}
.adminEventTitle{
    width: 81vw;
    float: right;
    margin-top: 2vh;
    margin-right: 1.1vw;
    margin-left: 1.5vw;
    background-color: white;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
.adminTitleAndDescription{
    margin-top: -70vh!important;
    z-index: 3;
    
}
.adminEvnetsUnderFilter{
    width:81vw;
    float:right;
    margin-right: 1.1vw;
    margin-left: 1.5vw;
    background-color: white;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;


}
.adminEventTitletitleH1{
    width:40vw;
    word-wrap: break-word;
    border: none;
    word-wrap: break-word;
    text-align: var(--align-text);
    font: normal normal bold 5vw/7vh Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 4!important;
    /* margin-top: 10vh; */
    /* line-height: 12vh; */
    background: transparent;
    margin-left: 4vw;
    margin-top: 3vh;
    height: 14vh;
    padding-top: 3vh;
    /* padding-bottom:1vh; */
    word-wrap: break-word;

}
.adminEventTitletitleH1:hover{
    border: 1px dashed white !important;

}
.adminImgOrVieo{
    /* padding: inherit; */
    position: absolute;
    box-shadow: 0px 3px 50px #00000087;
    opacity: 1;
    z-index: 2!important;
    width: var(--image-width)!important;
    /* height: 45vh; */
    margin-left: 44vw!important;
    margin-top: -65vh!important;
    margin-bottom: 2vh;
/* right: 5%; */
    
}
.adminEventDescription{
    border: none;
    word-wrap: break-word;
    text-align: var(--align-text);
    font: normal normal 2vw/5vh Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 4!important;
    /* margin-top: 10vh; */
    /* line-height: 12vh; */
    background: transparent;
    margin-left: 4vw;
    /* margin-top: 1vh; */

}
.adminEventDescription:hover{
    border: 1px dashed white !important;
}
.adminSubscribe{
    z-index: 10;
}
.subscribeArea{
    z-index: 5;
}