/* 
.eventImg{
    top: 1420px;
    left: 192px;
    width: 467px;
    height: 272px;
    opacity: 1;
}
.eventDescription{
    top: 1175px;
    left: 727px;
    width: 467px;
    height: 180px;
    background: #F0F2FA 0% 0% no-repeat padding-box;
    opacity: 1;
}
.title{
    top: 1217px;
    left: 1291px;
    width: 215px;
    height: 48px;
    color: #0A102E;
    text-align: left;
    font: normal normal bold 40px/48px Roboto;
    letter-spacing: 0px;
    color: #0A102E;
    text-transform: capitalize;
    opacity: 1;
} */