/* --unnamed-color-9653ff: #9653FF;
--unnamed-color-0a102e: #0A102E;
--unnamed-color-707070: #707070; */
:root {
    --main-color:#d46317;
}
.eventImg{
    /* width: 26vw;
    height: 36vh; */
    opacity: 1; 
    z-index: 1;
    height: 36vh;
}
.eventCard:hover .eeventTitle{
    color:var(--main-color);
}
.eventCard:hover .eventDescription{
   background: var(--main-color) 0% 0% no-repeat padding-box;
   opacity: 1;
}   

.eventCard{
    border: var(--main-color);
    /* border-bottom:7px #9653FF; */
    text-align: center;
    position: relative;
    margin-bottom: 7%;

}
.eventCard:hover .eventImg{
    transform: scale(1.3,1.05);
    cursor: pointer;
}
.eventDescription{
    height: 26vh;
    background: #F0F2FA 0% 0% no-repeat padding-box;
    opacity: 1;
    border-bottom:3px solid var(--main-color);
}
.priceD{
    z-index: 2;
    margin-top: 3%;
}
.eeventTitle{
    
    color: #0A102E;
    text-align: left;
    font: normal normal bold 6vh/3vw regular;
    letter-spacing: 0px;
    color: #0A102E;
    text-transform: capitalize;
    opacity: 1;
    /* margin-left:10%; */
}
.container{
    padding: 0%;
}
.eventContainer{
margin:0% !important;
padding: 0% !important;
}
.time{
    text-align: left;
    font: normal normal normal 28px/34px Roboto;
    letter-spacing: 0px;
    color: #0A102E;
    text-transform: capitalize;
    opacity: 1;
    /* color: #0A102E;
    text-align: left;
    font: normal normal bold Roboto;
    letter-spacing: 0px;
    color: #0A102E;
    text-transform: capitalize;
    opacity: 1;
    left: 0% */
}
.arrow{
    color: #FFFFFF;
    width: 101px;
    height: 17px;
    /* width:200% */
}
.biTime{
    font-weight: 2px !important;
    color:var(--main-color) !important;
}
.padding-0{
    padding-right:0%;
    padding-left:0%;
    margin-top: 3% !important;
}

.showDetails{
    /* z-index: 5; */
    /* position:static; */
    /* text-align: left; */
    font: normal normal normal 6vh/3vw Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    padding-left: 0%;
    text-align: center;
    cursor: pointer;
}
.details{
    width:100%;
    height: 100%;
    /* padding-left: 30%; */
}
.arrow {
    width: 150px !important;
    text-align: center;
    /* margin-left: 40% !important; */
  }
  .line {
    margin-top: 14px;
    width: 120px;
    background:#FFFFFF;
    height: 5px;
    float: left;
  }
  
  .point {
    width: 0;
    height: 0;
    border: 2px solid #FFFFFF;
    border-top: 15px solid transparent;
    /* border-bottom: 20px solid transparent; */
    border-left: 30px solid #FFFFFF;
    float: right;
  } 
  .myArrow{
      color: #FFFFFF
  }
.timeDetails{
    text-align: left;
font: normal normal normal 5vh/3vw Roboto;
letter-spacing: 0px;
color: #0A102E;
text-transform: capitalize;
opacity: 1;
padding-left: 3%;
}
.pRow{
    flex-wrap: unset;
}
.container-fluid{
    width: 100%;
}
.priceText{
    text-align: left;
    font: normal normal 300 34px/41px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.priceTextEvent{
    
        z-index: 7;
        text-align: right;
        position: absolute;
        top: 55%;
        right: 0%;
        /* transform: translate(-50%, -50%); */
        color: #FFFFFF;
        opacity: 1;
        font: normal normal 300 5vh/3vw Roboto;
        letter-spacing: 0px;
    
}
.price{
    position: absolute;
    z-index: 6;
    /* position:initial; */
    top: 55%;
    right: 0%;
    width: 9vw;
    height: 8vh;
}
/*.bi-share{
    position: absolute;
    z-index: 8;
    /* position:initial; 
    color: #FFFFFF;
    top:4%;
    width: 90px;
    left: 15%;
    cursor: pointer;

 }
.bi-heart{
    position: absolute;
    z-index: 8;
    color: #FFFFFF;
    top: 4%;
    width: 90px;
    left: 1%;
    cursor: pointer;
} */
.des{
    position: absolute;
    z-index: 9;
    color: #FFFFFF;
    top: 4%;
    width: 60px;
    cursor: pointer;
    left:12%;

}
.deh{
    position: absolute;
    z-index: 8;
    color: #FFFFFF;
    top: 4%;
    width: 70px;
    cursor: pointer;

}
.leftSite{
    text-align: left;
    padding-left: 3%;
}
/* @media screen and (max-width: 500px){
    .cardEvent{
        display: block;
    }

    .eventDescription .time{
        font-size:100%;
       display:block;
    }
    .showDetails{
       font-size: 130%;
       padding-right: 50%;
    }
    .details{
        padding-left: 5%;
    }
    .line{
        height: 3px;
        width: 80%;
    }
}
@media screen and (min-width: 500px) and (max-width: 1000px){
    .eventTitle{
        font-size: 130%;
        margin-left: 0vh;
    }
    .cardEvent{
        display: block;
    }
    .eventDescription .time{
        font-size:100%;
       display:block;
    }
    .showDetails{
       font-size: 130%;
       padding-right: 50%;

    }
    .details{
        padding-left: 5%;

    }
    .line{
        height: 3px;
        width: 80%;
    }
}
@media screen and (min-width: 1000px)and (max-width: 1500px){
    .eventTitle{
        font-size: 160%;
        margin-left: 0vh;
    }
    .eventDescription .time{
        font-size: 120%;
       display:block;
    }
    .showDetails{
        font-size: 160%;
        padding-left: 15%;

    }
    .details{
        padding-left: 15%;
    }
} */