.event{
    top: 1420px;
left: 192px;
width: 467px;
height: 272px;
background: transparent url('img/rear-side-audiences-sitting-listening-speackers-stage.png') 0% 0% no-repeat padding-box;
opacity: 1;
}