body {
    background-color: rgb(232, 234, 236);
}
:root {
    --Button-color:#86F3FF;
    --align-text:left;
    --image-width:32%;
}
.userEventsTitle{
    background-color: white;
    width:97vw !important;
    margin-top: 1%;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;

}
.myImg{
    /* width:100vW!important; */
    /* height: 75vh!important; */
        /* width: 100vW!important; */
    /* height: 75vh!important; */
    z-index: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    
}
.titleImgColor{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 0px !important;

}
.titleImg {
    height: 74vh;
    width: 100vw;
    padding: 0;
}
.titleAndDescription{
    z-index: 2!important;
    position: absolute;
    margin-left:4vw!important;
    margin-top: 8vh !important;
}

.titleH1{
    text-align: var(--align-text);
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
z-index: 4!important;
font: normal normal bold 11vh/8vw Roboto;
    line-height: 12vh;}
.imgOrVieo{
    padding: inherit;
    position: absolute;
    box-shadow: 0px 3px 50px #00000087;
    opacity: 1;
    z-index: 2!important;
    width: var(--image-width)!important;
    /* width:30vw; */
    height: 51vh;
    margin-left: 60vw!important;
    margin-top: 15vh!important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.subscribe{
    cursor: pointer;
    margin-top: 5vh;
    height: 6vh;
   *width: 14vw; 
    background-color: var(--Button-color);
    opacity: 100%;
    /* font-size: 3vh; */
    /* font-size: 3vh,6vw; */
    margin-right: 65vw!important;
    /* text-align: left; */
    /* font: normal normal medium 22px/27px Roboto; */
    /* letter-spacing: 4.4px; */
    color: #4B1A98;
    text-transform: uppercase;
    opacity: 1;
    font: normal normal 1.5vw/2.5vh Roboto;

}

.descriptionP{
    text-align: var(--align-text);
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font: normal normal 2vw/3vh Roboto;
    line-height: 5vh;

}
.mylogo{
    width: 6% !important;
    height: 3%;
    z-index: 2!important;
    position: absolute;
    margin-left: 4vw!important;
    margin-top: 3vh !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1
    
}
.video_or_picture{
    width: 32vw;
    height: 52vh;
}
.add-app{
    margin-left:6vw!important;


    
}
.backgroundForm{
    background:#00000024

}
.form-control{
width: 13.4vw!important;
    
}
 .btn-primary 
{
    margin-left: -31vw
}
.submitInput{
    background:#86F3FF;
    text-align: center; 

}


.subscribeArea{
    position: absolute;
    margin-right:75vw!important;
    margin-left: 4vw!important;
    margin-top: -28vh!important; 


}
.dropDown{
    
    width: 18vw;
    margin-left: 0vw;
    /* height: -6vh!important; */
    margin-top: 21vh;
    background-color:#F0F2FA;
    /* padding: 2px; */
    /* height: 23vh; */
}
.settingsAndEvents{
    margin: 0%;
    padding: 0%;
  }
.formSubscribe{
    margin-left: 2vw;
    z-index: 3;
    margin-top: -23vh;
}
form .form-control:focus{
    border-color: #ced4da;
    box-shadow: none;
  }
    .evnetsUnderFilter{
        /* height: 100vh !important; */
        z-index: 1;
        cursor: pointer;
        background-color:white;
        width:97vw !important;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius:12px;
    }

.arrow_{
 
    margin-left: 8vw;
    margin-top: -1.5vh;
    width: 2vw;
    height: 2vh;
    z-index: 0;
}
#subscribeInside{
    background-color: var(--Button-color);  
    margin-top: -4vh;
    height: 6vh;
}
#createEventArea:hover{
    opacity: 1 
}
#createEventArea{
    /* padding-top: 16vh; */
    height: 40vh;
    /* width: 17vw; */
    /* border: 2px dashed #707070; */
    margin-top: 2%;
    /* margin-left: 2%; */
    /* margin-right: 1.5%; */

}
#imageInTitle{
    /* height:50vh !important;
    width:var(--image-width)!important; */
    float:right;
}

/* @media(min-width:1500px)
{
    .myImg{
        width:20px;
    }



} */
/* @media(max-width:500px)
{
    .


}
@media(min-width:500px)and (max-width: 1000px)
{



}
@media(min-width:500px)and (max-width: 1000px)
{


} */
/* גדלים שצריך  */

/* 3840x2160
1920x1080
1440x990
1280x800 */
