.ImgEditHeaderStyle{
    width: 35px; height: 25px; border: 0px ;
}
.EditHeaderAlingment{
    display: inline;
    border-radius: 2px;
    margin: 0.1vw;
    color: white !important;
    width: 1.7vw;
    height: 4vh ;
    background: #505066 0% 0% no-repeat padding-box;
}


.configuratorTextarea {
    border: none;
    resize: none !important;
    background: #505066 0% 0% no-repeat padding-box;
    height: 8vh;
    text-align: left;
    width: 13vw;
    margin-left:1.5vw;
}

    
.warpDivalignment{
    display: flex;
    margin-left: 7vw;
    margin-top: -2.5vh !important;
    }
    .IconColor{
        color: white;
        width: 4vh !important;
        height: 1vw ;
    }
    
    .BoldIconColor{
       color: #9653FF;
       width: 4vh !important;
        height: 1vw ;
}


.AlignmentSpan{
    margin-left: -2vw; 
  /* font: normal normal 1.2vw/0vh Roboto;  */
  font-size:1vw;
}

.SpanSettings{
    font-size:1vw;
    margin-left: 1.5vw;
}
.titleSettings{
    margin-left: 1.5vw;
   font-size: 1vw;
}

/* --------------------------------------------------------------- */


label {
    margin-top: 0 !important;
}

.textField {
    margin-top: 7px!important;
    /* margin-right: 3px!important; */
}
.ChannelColorIcn{
     color: #959595;
     cursor: pointer;
     font-size: 20px;
}
.ShowConfiguratorWith{
    width: 99% !important;
}


.configuratorTextarea {
    border: none;
    resize: none !important;
    background: #505066 0% 0% no-repeat padding-box;
    height: 8vh;
    text-align: left;
    width: 13vw;
    margin-left:1.5vw;
    font-size: 0.8vw;
}
.LogoChnnel{
    margin-top: 10px;
}

.inputFileInUploadDiv {
    size: 300px;
}

.inputfilelogin {
    width: 1px;
    height:  1px;
    opacity: 1;
     overflow:hidden;
    position: absolute;
    z-index: -1;
}

/* PICKER */
/* element.style {
    width: 200px;
    background: #0000(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.2);
     box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px; 
    border-radius: 4px;
    position: relative;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
} */


.inputfile {

    width:  0.1px;
    height: 0.1px;
    opacity: 0;
     overflow: hidden; 
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    cursor: pointer;
}

.divOnHover .divUploadImage {
    display: block;
}

/* .divUploadImage {
    height: auto;
    width: 100%;
    margin-top: 15px;
} */

.iconDiv {
    width: 13vw;
    margin-top: 9vh;
    height: 4vh;
    background:  0% 0% no-repeat padding-box;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    /* width: 100%; */
    color: #cccccc;
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* opacity: 0; */
    padding: 1vw
}

.iconDiv:hover {
    opacity: 1;
}


.iconCloudUpload {
    position: absolute;
    /* bottom: 7px;
    left: 7px; */
}
/* PICKER */

::placeholder{
    color: white;
    font-weight: lighter;
}

.MuiTypography-body1 {
    margin-top: -2vh;
    /* position: absolute;
    margin-right: 9vw;
    font-size: 0.8rem !important; */
}
#firstLabel{
    z-index: 11;
    position: absolute;
    margin-right: 8vw;
}

.iii{
    margin: auto;
    width: 90%;
}


.one{
    /* display: inline; */
    margin-left: 2vw;
}

.labelToggle{
    margin-left: 1.5vw !important;
    font-size: 0.9rem !important;
}

.iconUploadEvent{
    cursor: pointer;
    position: absolute;
    bottom: 17%;
    left: 34%;
}
/* -------------------------------------------------------------------- */
@media (min-width:1280px)and (max-width:1280px){
    .EditHeaderAlingment{
        height:3vh;
   }
 }

@media(min-width:1440px){
    .EditHeaderAlingment{
          height:3vh;
     }
   .divUploadImage{
     height: 13vh !important;
     }  
 }
 
@media(max-width:1920px){
    .warpDivalignment{
       margin-top: -2.5vh !important;
   }
}
@media(min-width:3480px){
    
}
